<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOAN PREDICTION</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div id="container">
        <h1>LOAN PREDICTION </h1>
        <form  method="POST">
        <label for="Income">Income:</label>
        <input type="number" name="Income" id="Income" placeholder="Enter your Income">
        <br>

        <label for="Age">Age:</label>
        <input type="number" name="Age" id="Age" placeholder="Enter your age">
        <br>

        <label for="Experience">Experience:</label>
        <input type="number" name="Experience" id="Experience" placeholder="Enetr your Experience">
        <br>

        <label for="Married/Single">Martial Status:</label>
        <select name="Married/Single" id="Married/Single">
            <option value="">Select Your Martial Stauts</option>
            <option value="single">Single</option>
            <option value="married">Married</option>
        </select><br>

        <label for="House_Ownership">House Ownership:</label>
        <select name="House_Ownership" id="House_Ownership">
            <option value="">Select your option</option>
            <option value="rented">Rented</option>
            <option value="norent_noown">No Rent, No Ownership</option>
            <option value="owned">Owned</option>
        </select>
        <br>

        <label for="Car_Ownership">Car Ownership:</label>
        <select name="Car_Ownership" id="Car_Ownership">
            <option value="">Select your option</option>
            <option value="yes">YES</option>
            <option value="no">NO</option>
            
        </select>
        <br>

        <label for="Profession">Profession:</label>
        <select id="Profession" name="Profession">
            <option value="">Select your option</option>
            <option value="Air_traffic_controller">Air Traffic Controller</option>
            <option value="Air_traffic_controller">Analyst</option>
            <option value="Architect">Architect</option>
            <option value="Army_officer">Army Officer</option>
            <option value="Artist">Artist</option>
            <option value="Aviator">Aviator</option>
            <option value="Biomedical_Engineer">Biomedical Engineer</option>
            <option value="Chartered_Accountant">Chartered Accountant</option>
            <option value="Chef">Chef</option>
            <option value="Chemical_engineer">Chemical Engineer</option>
            <option value="Civil_engineer">Civil Engineer</option>
            <option value="Civil_servant">Civil Servant</option>
            <option value="Comedian">Comedian</option>
            <option value="Computer_hardware_engineer">Computer Hardware Engineer</option>
            <option value="Computer_operator">Computer Operator</option>
            <option value="Consultant">Consultant</option>
            <option value="Designer">Designer</option>
            <option value="Design_Engineer">Design Engineer</option>
            <option value="Dentist">Dentist</option>
            <option value="Drafter">Drafter</option>
            <option value="Economist">Economist</option>
            <option value="Engineer">Engineer</option>
            <option value="Financial_Analyst">Financial Analyst</option>
            <option value="Firefighter">Firefighter</option>
            <option value="Flight_attendant">Flight Attendant</option>
            <option value="Geologist">Geologist</option>
            <option value="Graphic_Designer">Graphic Designer</option>
            <option value="Industrial_Engineer">Industrial Engineer</option>
            <option value="Lawyer">Lawyer</option>
            <option value="Librarian">Librarian</option>
            <option value="Magistrate">Magistrate</option>
            <option value="Mechanical_engineer">Mechanical Engineer</option>
            <option value="Microbiologist">Microbiologist</option>
            <option value="Official">Official</option>
            <option value="Petroleum_Engineer">Petroleum Engineer</option>
            <option value="Physician">Physician</option>
            <option value="Police_officer">Police Officer</option>
            <option value="Politician">Politician</option>
            <option value="Psychologist">Psychologist</option>
            <option value="Scientist">Scientist</option>
            <option value="Secretary">Secretary</option>
            <option value="Software_Developer">Software Developer</option>
            <option value="Statistician">Statistician</option>
            <option value="Surgeon">Surgeon</option>
            <option value="Surveyor">Surveyor</option>
            <option value="Technical_writer">Technical Writer</option>
            <option value="Technology_specialist">Technology Specialist</option>
            <option value="Technician">Technician</option>
            <option value="Web_designer">Web Designer</option>
        </select>
        <br>

        <label for="CITY">CITY:</label>
        <select name="CITY" id="CITY">
            <option value="">Select your option</option>
            <option value="Agartala">Agartala</option>
            <option value="Agra">Agra</option>
            <option value="Ahmedabad">Ahmedabad</option>
            <option value="Ahmednagar">Ahmednagar</option>
            <option value="Aizawl">Aizawl</option>
            <option value="Ajmer">Ajmer</option>
            <option value="Akola">Akola</option>
            <option value="Alappuzha">Alappuzha</option>
            <option value="Aligarh">Aligarh</option>
            <option value="Allahabad">Allahabad</option>
            <option value="Ambala">Ambala</option>
            <option value="Ambarnath">Ambarnath</option>
            <option value="Ambattur">Ambattur</option>
            <option value="Amravati">Amravati</option>
            <option value="Amritsar">Amritsar</option>
            <option value="Amroha">Amroha</option>
            <option value="Anand">Anand</option>
            <option value="Anantapur">Anantapur</option>
            <option value="Anantapuram[24]">Anantapuram[24]</option>
            <option value="Arrah">Arrah</option>
            <option value="Asansol">Asansol</option>
            <option value="Aurangabad">Aurangabad</option>
            <option value="Aurangabad[39]">Aurangabad[39]</option>
            <option value="Avadi">Avadi</option>
            <option value="Bahraich">Bahraich</option>
            <option value="Bally">Bally</option>
            <option value="Bangalore">Bangalore</option>
            <option value="Baranagar">Baranagar</option>
            <option value="Bareilly">Bareilly</option>
            <option value="Ballia">Ballia</option>
            <option value="Bellary">Bellary</option>
            <option value="Berhampore">Berhampore</option>
            <option value="Berhampur">Berhampur</option>
            <option value="Bettiah[33]">Bettiah[33]</option>
            <option value="Bharatpur">Bharatpur</option>
            <option value="Bhavnagar">Bhavnagar</option>
            <option value="Bheemavaram">Bheemavaram</option>
            <option value="Bhagalpur">Bhagalpur</option>
            <option value="Bharatpur">Bharatpur</option>
            <option value="Bhatpara">Bhatpara</option>
            <option value="Bhavnagar">Bhavnagar</option>
            <option value="Bhilai">Bhilai</option>
            <option value="Bhilwara">Bhilwara</option>
            <option value="Bhimavaram">Bhimavaram</option>
            <option value="Bhiwandi">Bhiwandi</option>
            <option value="Bhiwani">Bhiwani</option>
            <option value="Bhalswa_Jahangir_Pur">Bhalswa_Jahangir_Pur</option>
            <option value="Bidar">Bidar</option>
            <option value="Bidhannagar">Bidhannagar</option>
            <option value="Bijapur">Bijapur</option>
            <option value="Bilaspur">Bilaspur</option>
            <option value="Buxar[37]">Buxar[37]</option>
            <option value="Chandigarh_city">Chandigarh_city</option>
            <option value="Chandrapur">Chandrapur</option>
            <option value="Chennai">Chennai</option>
            <option value="Chinsurah">Chinsurah</option>
            <option value="Chittoor[28]">Chittoor[28]</option>
            <option value="Coimbatore">Coimbatore</option>
            <option value="Cuttack">Cuttack</option>
            <option value="Davanagere">Davanagere</option>
            <option value="Dehri[30]">Dehri[30]</option>
            <option value="Delhi_city">Delhi_city</option>
            <option value="Dewas">Dewas</option>
            <option value="Dhanbad">Dhanbad</option>
            <option value="Dibrugarh">Dibrugarh</option>
            <option value="Dindigul">Dindigul</option>
            <option value="Durg">Durg</option>
            <option value="Durgapur">Durgapur</option>
            <option value="Eluru[25]">Eluru[25]</option>
            <option value="Erode[17]">Erode[17]</option>
            <option value="Faridabad">Faridabad</option>
            <option value="Farrukhabad">Farrukhabad</option>
            <option value="Fatehpur">Fatehpur</option>
            <option value="Gandhidham">Gandhidham</option>
            <option value="Gandhinagar">Gandhinagar</option>
            <option value="Gangtok">Gangtok</option>
            <option value="Gaya">Gaya</option>
            <option value="Giridih">Giridih</option>
            <option value="Gopalpur">Gopalpur</option>
            <option value="Gorakhpur">Gorakhpur</option>
            <option value="Guntakal">Guntakal</option>
            <option value="Guntur[13]">Guntur[13]</option>
            <option value="Gudivada">Gudivada</option>
            <option value="Gurgaon">Gurgaon</option>
            <option value="Guwahati">Guwahati</option>
            <option value="Hajipur[31]">Hajipur[31]</option>
            <option value="Haldia">Haldia</option>
            <option value="Haridwar">Haridwar</option>
            <option value="Hazaribagh">Hazaribagh</option>
            <option value="Howrah">Howrah</option>
            <option value="Hubli–Dharwad">Hubli–Dharwad</option>
            <option value="Hyderabad">Hyderabad</option>
            <option value="Ichalkaranji">Ichalkaranji</option>
            <option value="Imphal">Imphal</option>
            <option value="Indore">Indore</option>
            <option value="Jabalpur">Jabalpur</option>
            <option value="Jalandhar">Jalandhar</option>
            <option value="Jalgaon">Jalgaon</option>
            <option value="Jalna">Jalna</option>
            <option value="Jammu[16]">Jammu[16]</option>
            <option value="Jamnagar">Jamnagar</option>
            <option value="Jamshedpur">Jamshedpur</option>
            <option value="Jehanabad[38]">Jehanabad[38]</option>
            <option value="Jhansi">Jhansi</option>
            <option value="Jorhat">Jorhat</option>
            <option value="Kadapa[23]">Kadapa[23]</option>
            <option value="Kakinada">Kakinada</option>
            <option value="Kamarhati">Kamarhati</option>
            <option value="Kanpur">Kanpur</option>
            <option value="Karaikudi">Karaikudi</option>
            <option value="Karawal_Nagar">Karawal_Nagar</option>
            <option value="Kavali">Kavali</option>
            <option value="Khandwa">Khandwa</option>
            <option value="Kharagpur">Kharagpur</option>
            <option value="Khora,_Ghaziabad">Khora,_Ghaziabad</option>
            <option value="Kirari_Suleman_Nagar">Kirari_Suleman_Nagar</option>
            <option value="Kishanganj[35]">Kishanganj[35]</option>
            <option value="Kochi">Kochi</option>
            <option value="Kolhapur">Kolhapur</option>
            <option value="Kollam">Kollam</option>
            <option value="Korba">Korba</option>
            <option value="Kota[6]">Kota[6]</option>
            <option value="Kullu">Kullu</option>
            <option value="Kulti">Kulti</option>
            <option value="Kumbakonam">Kumbakonam</option>
            <option value="Kurnool[18]">Kurnool[18]</option>
            <option value="Latur">Latur</option>
            <option value="Lucknow">Lucknow</option>
            <option value="Ludhiana">Ludhiana</option>
            <option value="Madanapalle">Madanapalle</option>
            <option value="Madhyamgram">Madhyamgram</option>
            <option value="Madurai">Madurai</option>
            <option value="Mahbubnagar">Mahbubnagar</option>
            <option value="Maheshtala">Maheshtala</option>
            <option value="Machilipatnam">Machilipatnam</option>
            <option value="Mango">Mango</option>
            <option value="Mathura">Mathura</option>
            <option value="Mau">Mau</option>
            <option value="Medininagar">Medininagar</option>
            <option value="Meerut">Meerut</option>
            <option value="Mehsana">Mehsana</option>
            <option value="Miryalaguda">Miryalaguda</option>
            <option value="Mirzapur">Mirzapur</option>
            <option value="Mira-Bhayandar">Mira-Bhayandar</option>
            <option value="Moradabad">Moradabad</option>
            <option value="Morena">Morena</option>
            <option value="Motihari[34]">Motihari[34]</option>
            <option value="Mumbai">Mumbai</option>
            <option value="Munger">Munger</option>
            <option value="Muzaffarpur">Muzaffarpur</option>
            <option value="Muzaffarnagar">Muzaffarnagar</option>
            <option value="Mysore[7][8][9]">Mysore[7][8][9]</option>
            <option value="Nadiad">Nadiad</option>
            <option value="Nagaon">Nagaon</option>
            <option value="Nagpur">Nagpur</option>
            <option value="Nanded">Nanded</option>
            <option value="Nandyal">Nandyal</option>
            <option value="Narasaraopet">Narasaraopet</option>
            <option value="Navi_Mumbai">Navi_Mumbai</option>
            <option value="Nellore[14][15]">Nellore[14][15]</option>
            <option value="New_Delhi">New_Delhi</option>
            <option value="Nizamabad">Nizamabad</option>
            <option value="Noida">Noida</option>
            <option value="North_Dumdum">North_Dumdum</option>
            <option value="Ongole">Ongole</option>
            <option value="Orai">Orai</option>
            <option value="Pali">Pali</option>
            <option value="Pallavaram">Pallavaram</option>
            <option value="Panihati">Panihati</option>
            <option value="Panipat">Panipat</option>
            <option value="Panvel">Panvel</option>
            <option value="Patiala">Patiala</option>
            <option value="Pimpri-Chinchwad">Pimpri-Chinchwad</option>
            <option value="Phagwara">Phagwara</option>
            <option value="Phusro">Phusro</option>
            <option value="Pudukkottai">Pudukkottai</option>
            <option value="Proddatur">Proddatur</option>
            <option value="Pune">Pune</option>
            <option value="Purnia[26]">Purnia[26]</option>
            <option value="Rajahmundry[19][20]">Rajahmundry[19][20]</option>
            <option value="Rajkot">Rajkot</option>
            <option value="Rajpur_Sonarpur">Rajpur_Sonarpur</option>
            <option value="Ramagundam[27]">Ramagundam[27]</option>
            <option value="Ramgarh">Ramgarh</option>
            <option value="Rampur">Rampur</option>
            <option value="Ranchi">Ranchi</option>
            <option value="Ratlam">Ratlam</option>
            <option value="Rewa">Rewa</option>
            <option value="Rohtak">Rohtak</option>
            <option value="Rourkela">Rourkela</option>
            <option value="Sagar">Sagar</option>
            <option value="Saharanpur">Saharanpur</option>
            <option value="Saharsa[29]">Saharsa[29]</option>
            <option value="Salem">Salem</option>
            <option value="Sambalpur">Sambalpur</option>
            <option value="Sambhal">Sambhal</option>
            <option value="Sangli-Miraj_&_Kupwad">Sangli-Miraj_&_Kupwad</option>
            <option value="Sasaram[30]">Sasaram[30]</option>
            <option value="Satara">Satara</option>
            <option value="Satna">Satna</option>
            <option value="Secunderabad">Secunderabad</option>
            <option value="Serampore">Serampore</option>
            <option value="Shahjahanpur">Shahjahanpur</option>
            <option value="Shimla">Shimla</option>
            <option value="Shimoga">Shimoga</option>
            <option value="Shivpuri">Shivpuri</option>
            <option value="Silchar">Silchar</option>
            <option value="Siliguri">Siliguri</option>
            <option value="Sikar">Sikar</option>
            <option value="Sirsa">Sirsa</option>
            <option value="Srinagar">Srinagar</option>
            <option value="Sri_Ganganagar">Sri_Ganganagar</option>
            <option value="Srikakulam">Srikakulam</option>
            <option value="Srinagar">Srinagar</option>
            <option value="Suryapet">Suryapet</option>
            <option value="Surendranagar_Dudhrej">Surendranagar_Dudhrej</option>
            <option value="Tez">Tez</option>
        </select>
        <br>

        <label for="STATE">STATE:</label>
        <select id="STATE" name="STATE">
            <option value="">Select your option</option>
            <option value="Andhra_Pradesh">Andhra Pradesh</option>
            <option value="Assam">Assam</option>
            <option value="Bihar">Bihar</option>
            <option value="Chandigarh">Chandigarh</option>
            <option value="Chhattisgarh">Chhattisgarh</option>
            <option value="Delhi">Delhi</option>
            <option value="Gujarat">Gujarat</option>
            <option value="Haryana">Haryana</option>
            <option value="Himachal_Pradesh">Himachal Pradesh</option>
            <option value="Jammu_and_Kashmir">Jammu and Kashmir</option>
            <option value="Jharkhand">Jharkhand</option>
            <option value="Karnataka">Karnataka</option>
            <option value="Kerala">Kerala</option>
            <option value="Madhya_Pradesh">Madhya Pradesh</option>
            <option value="Maharashtra">Maharashtra</option>
            <option value="Manipur">Manipur</option>
            <option value="Mizoram">Mizoram</option>
            <option value="Odisha">Odisha</option>
            <option value="Puducherry">Puducherry</option>
            <option value="Punjab">Punjab</option>
            <option value="Rajasthan">Rajasthan</option>
            <option value="Sikkim">Sikkim</option>
            <option value="Tamil_Nadu">Tamil Nadu</option>
            <option value="Telangana">Telangana</option>
            <option value="Tripura">Tripura</option>
            <option value="Uttar_Pradesh">Uttar Pradesh</option>
            <option value="Uttar_Pradesh[5]">Uttar Pradesh[5]</option>
            <option value="Uttarakhand">Uttarakhand</option>
            <option value="West_Bengal">West Bengal</option>
        </select>
        <br>

        <label for="CURRENT_JOB_YRS">CURRENT JOB IN YEARS:</label>
        <input type="number" name="CURRENT_JOB_YRS" id="CURRENT_JOB_YRS" placeholder="Enter your Job years">
        <br>

        <label for="CURRENT_HOUSE_YRS">CURRENT HOUSE IN YEARS:</label>
        <input type="number" name="CURRENT_HOUSE_YRS" id="CURRENT_HOUSE_YRS" placeholder="Enter your House years">
        <br>

        <button class="button3">Submit</button>
        </form>
    </div>
    <script>
        const citySelect = document.getElementById("CITY");
        const stateSelect = document.getElementById("STATE");

        const cityToState = {
            "Agartala": "Tripura",
            "Agra": "Uttar Pradesh",
            "Ahmedabad": "Gujarat",
            "Ahmednagar": "Maharashtra",
            "Aizawl": "Mizoram",
            "Ajmer": "Rajasthan",
            "Akola": "Maharashtra",
            "Alappuzha": "Kerala",
            "Aligarh": "Uttar Pradesh",
            "Allahabad": "Uttar Pradesh",
            "Ambala": "Haryana",
            "Ambarnath": "Maharashtra",
            "Ambattur": "Tamil Nadu",
            "Amravati": "Maharashtra",
            "Amritsar": "Punjab",
            "Amroha": "Uttar Pradesh",
            "Anand": "Gujarat",
            "Anantapur": "Andhra Pradesh",
            "Anantapuram[24]": "Andhra Pradesh",
            "Arrah": "Bihar",
            "Asansol": "West Bengal",
            "Aurangabad": "Maharashtra",
            "Aurangabad[39]": "Bihar",
            "Bahraich": "Uttar Pradesh",
            "Bally": "West Bengal",
            "Bangalore": "Karnataka",
            "Baranagar": "West Bengal",
            "Bareilly": "Uttar Pradesh",
            "Ballia": "Uttar Pradesh",
            "Bellary": "Karnataka",
            "Berhampore": "West Bengal",
            "Berhampur": "Odisha",
            "Bettiah[33]": "Bihar",
            "Bharatpur": "Rajasthan",
            "Bhavnagar": "Gujarat",
            "Bheemavaram": "Andhra Pradesh",
            "Bhagalpur": "Bihar",
            "Bhatpara": "West Bengal",
            "Bhilai": "Chhattisgarh",
            "Bhilwara": "Rajasthan",
            "Bhimavaram": "Andhra Pradesh",
            "Bhiwandi": "Maharashtra",
            "Bhiwani": "Haryana",
            "Bhalswa_Jahangir_Pur": "Delhi",
            "Bidar": "Karnataka",
            "Bidhannagar": "West Bengal",
            "Bijapur": "Karnataka",
            "Bilaspur": "Chhattisgarh",
            "Buxar[37]": "Bihar",
            "Chandigarh_city": "Chandigarh",
            "Chandrapur": "Maharashtra",
            "Chennai": "Tamil Nadu",
            "Chinsurah": "West Bengal",
            "Chittoor[28]": "Andhra Pradesh",
            "Coimbatore": "Tamil Nadu",
            "Cuttack": "Odisha",
            "Davanagere": "Karnataka",
            "Dehri[30]": "Bihar",
            "Delhi_city": "Delhi",
            "Dewas": "Madhya Pradesh",
            "Dhanbad": "Jharkhand",
            "Dibrugarh": "Assam",
            "Dindigul": "Tamil Nadu",
            "Durg": "Chhattisgarh",
            "Durgapur": "West Bengal",
            "Eluru[25]": "Andhra Pradesh",
            "Erode[17]": "Tamil Nadu",
            "Faridabad": "Haryana",
            "Farrukhabad": "Uttar Pradesh",
            "Fatehpur": "Uttar Pradesh",
            "Gandhidham": "Gujarat",
            "Gandhinagar": "Gujarat",
            "Gangtok": "Sikkim",
            "Gaya": "Bihar",
            "Giridih": "Jharkhand",
            "Gopalpur": "Odisha",
            "Gorakhpur": "Uttar Pradesh",
            "Guntakal": "Andhra Pradesh",
            "Guntur[13]": "Andhra Pradesh",
            "Gudivada": "Andhra Pradesh",
            "Gurgaon": "Haryana",
            "Guwahati": "Assam",
            "Hajipur[31]": "Bihar",
            "Haldia": "West Bengal",
            "Haridwar": "Uttar Pradesh",
            "Hazaribagh": "Jharkhand",
            "Howrah": "West Bengal",
            "Hubli–Dharwad": "Karnataka",
            "Hyderabad": "Telangana",
            "Ichalkaranji": "Maharashtra",
            "Imphal": "Manipur",
            "Indore": "Madhya Pradesh",
            "Jabalpur": "Madhya Pradesh",
            "Jalandhar": "Punjab",
            "Jalgaon": "Maharashtra",
            "Jalna": "Maharashtra",
            "Jammu[16]": "Jammu and Kashmir",
            "Jamnagar": "Gujarat",
            "Jamshedpur": "Jharkhand",
            "Jehanabad[38]": "Bihar",
            "Jhansi": "Uttar Pradesh",
            "Jorhat": "Assam",
            "Kadapa[23]": "Andhra Pradesh",
            "Kakinada": "Andhra Pradesh",
            "Kamarhati": "West Bengal",
            "Kanpur": "Uttar Pradesh",
            "Karaikudi": "Tamil Nadu",
            "Karawal_Nagar": "Delhi",
            "Kavali": "Andhra Pradesh",
            "Khandwa": "Madhya Pradesh",
            "Kharagpur": "West Bengal",
            "Khora,_Ghaziabad": "Uttar Pradesh",
            "Kirari_Suleman_Nagar": "Delhi",
            "Kishanganj[35]": "Bihar",
            "Kochi": "Kerala",
            "Kolhapur": "Maharashtra",
            "Kollam": "Kerala",
            "Korba": "Chhattisgarh",
            "Kota[6]": "Rajasthan",
            "Kullu": "Himachal Pradesh",
            "Kulti": "West Bengal",
            "Kumbakonam": "Tamil Nadu",
            "Kurnool[18]": "Andhra Pradesh",
            "Latur": "Maharashtra",
            "Lucknow": "Uttar Pradesh",
            "Ludhiana": "Punjab",
            "Madanapalle": "Andhra Pradesh",
            "Madhyamgram": "West Bengal",
            "Madurai": "Tamil Nadu",
            "Mahbubnagar": "Telangana",
            "Maheshtala": "West Bengal",
            "Machilipatnam": "Andhra Pradesh",
            "Mango": "Jharkhand",
            "Mathura": "Uttar Pradesh",
            "Mau": "Uttar Pradesh",
            "Medininagar": "Jharkhand",
            "Meerut": "Uttar Pradesh",
            "Mehsana": "Gujarat",
            "Miryalaguda": "Telangana",
            "Mirzapur": "Uttar Pradesh",
            "Mira-Bhayandar": "Maharashtra",
            "Moradabad": "Uttar Pradesh",
            "Morena": "Madhya Pradesh",
            "Motihari[34]": "Bihar",
            "Mumbai": "Maharashtra",
            "Munger": "Bihar",
            "Muzaffarpur": "Bihar",
            "Muzaffarnagar": "Uttar Pradesh",
            "Mysore[7][8][9]": "Karnataka",
            "Nadiad": "Gujarat",
            "Nagaon": "Assam",
            "Nagpur": "Maharashtra",
            "Nanded": "Maharashtra",
            "Nandyal": "Andhra Pradesh",
            "Narasaraopet": "Andhra Pradesh",
            "Navi_Mumbai": "Maharashtra",
            "Nellore[14][15]": "Andhra Pradesh",
            "New_Delhi": "Delhi",
            "Nizamabad": "Telangana",
            "Noida": "Uttar Pradesh",
            "North_Dumdum": "West Bengal",
            "Ongole": "Andhra Pradesh",
            "Orai": "Uttar Pradesh",
            "Pali": "Rajasthan",
            "Pallavaram": "Tamil Nadu",
            "Panihati": "West Bengal",
            "Panipat": "Haryana",
            "Panvel": "Maharashtra",
            "Patiala": "Punjab",
            "Pimpri-Chinchwad": "Maharashtra",
            "Phagwara": "Punjab",
            "Phusro": "Jharkhand",
            "Pudukkottai": "Tamil Nadu",
            "Proddatur": "Andhra Pradesh",
            "Pune": "Maharashtra",
            "Purnia[26]": "Bihar",
            "Rajahmundry[19][20]": "Andhra Pradesh",
            "Rajkot": "Gujarat",
            "Rajpur_Sonarpur": "West Bengal",
            "Ramagundam[27]": "Telangana",
            "Ramgarh": "Jharkhand",
            "Rampur": "Uttar Pradesh",
            "Ranchi": "Jharkhand",
            "Ratlam": "Madhya Pradesh",
            "Rewa": "Madhya Pradesh",
            "Rohtak": "Haryana",
            "Rourkela": "Odisha",
            "Sagar": "Madhya Pradesh",
            "Saharanpur": "Uttar Pradesh",
            "Saharsa[29]": "Bihar",
            "Salem": "Tamil Nadu",
            "Sambalpur": "Odisha",
            "Sambhal": "Uttar Pradesh",
            "Sangli-Miraj_&_Kupwad": "Maharashtra",
            "Sasaram[30]": "Bihar",
            "Satara": "Maharashtra",
            "Satna": "Madhya Pradesh",
            "Secunderabad": "Telangana",
            "Serampore": "West Bengal",
            "Shahjahanpur": "Uttar Pradesh",
            "Shimla": "Himachal Pradesh",
            "Shimoga": "Karnataka",
            "Shivpuri": "Madhya Pradesh",
            "Silchar": "Assam",
            "Siliguri": "West Bengal",
            "Sikar": "Rajasthan",
            "Sirsa": "Haryana",
            "Srinagar": "Jammu and Kashmir",
            "Sri_Ganganagar": "Rajasthan",
            "Srikakulam": "Andhra Pradesh",
            "Suryapet": "Telangana",
            "Surendranagar_Dudhrej": "Gujarat",
            "Tez": "Assam",


        };

        citySelect.addEventListener("change", function () {
            const selectedCity = citySelect.value;
            const selectedState = cityToState[selectedCity];

            if (selectedCity && selectedState) {
                stateSelect.value = selectedState;
            } else {
                stateSelect.value = "";
            }
        });
    </script>
</body>

</html>